#tools-window {
    width: 15%;
    height: 400px;
    border: 1px solid black;
    position: fixed;
    left: 2%;
}

#paint {
    float: right;
    border: 5px solid black;
    width: 80%;
    height: 700px;
    position: fixed;
    left: 18%;
    top: 1%;
}

#tools-table {
    width: 100%;
}

#tools-table td {
    text-align: center;
    border: 1px solid black;
}

#tools-table td:hover {
    cursor: pointer;
}

#tools-selected-result td {
    text-align: center;
    border: 1px solid black;
}

#tools-selected-result {
    width: 100%;
    position: absolute;
    bottom: 0%;
}

.no-display {
    display: none;
}